---
layout: layout
title: Docs
permalink: docs.html
---

.page
  %h1 Docs
  %ul
    %li <a href="getting-started.html">Getting Started</a>
    %li <a href="#">Stages and the Model File</a>
    %li <a href="#">Controllers, Routes, and the Syberia Repo</a>
    %li <a href="#">Engines and Doing Things Other Than Modeling</a>
    %li <a href="#">Testing a Syberia Project</a>
    %li <a href="#">Syberia's R Packages</a>
    %li <a href="#">Complete API Docs</a>
    %li <a href="#">FAQ / Troubleshooting</a>
