---
layout: layout
title: Getting Started
permalink: getting-started.html
---

.page
  %h1 Getting Started
  %h3 Installation
  %p
    To install Syberia, open up an R console and type the following:
  %pre{class: "prettyprint "}
    = preserve do
      :escaped
        install.packages("devtools")
        devtools::install_github('robertzk/syberia@install')
        syberia.io::install_syberia()
        library(syberia)

  %h3 Creating the Model File
  %p
    Now we can start creating a model!  Let's try to predict the chances of surviving the sinking of the RMS Titanic, via <a href="https://www.kaggle.com/c/titanic-gettingStarted">the Kaggle dataset</a>.
  %pre{class: "prettyprint "}
    = preserve do
      :escaped
        #TODO: ensure they're in the base directory
        cd models/dev
        mkdir titanic
        cd titanic
        #TODO: `yo syberia` or however we make the intial model file?
  %p
    Etc. More instructions helping them build the complete Titanic model... Blah.
