---
layout: layout
title: Index
permalink: index.html
---
.blue
  .info-table
    %h2{align: "center"}
      Build predictive models faster than ever before.
    %p
      <strong>Syberia</strong> is a framework for quickly trying different methods in data science.
    %p
      Syberia supports building, debugging, testing, and deploying classifiers developed in R.  It includes support for <a href="#">importing data</a>, <a href="#">cleaning/transforming data</a>, <a href="#">fitting models to data</a>, <a href="#">validating the results</a>, and <a href="#">deployment as a REST service</a>.
    %p
      Syberia makes it easy to <strong>quickly clean up messy data</strong>, build <strong>produciton-ready predictive models</strong>, and quickly <strong>skip past the boring stuff and onto the interesting data analysis.</strong>
    %p{align: "center"}
      <a href="getting-started" class="btn btn-primary btn-large" role="button">Getting Started With Syberia</a>
