/*
 Theme for Syberia.io, Design 1.0
 Theme by Peter Hurford <www.peterhurford.com>
*/

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
p { font-size: 120%; }
h1 { padding: 20px; }

.logo-tagline {
  font-weight: bold;
  width: 70%;
  margin: 40px auto;
}
.logo-tagline .logo {
  font-size: 250%;
  padding: 10px;
}
.logo-tagline .tagline {
  font-size: 150%;
  padding: 10px;
}

.blue {
  width: 100%;
  background-color: #E0FFFF
}
.blue .info-table {
  width: 70%;
  margin: 40px auto;
  padding: 35px;
  line-height: 150%;
}
.blue .info-table p { padding: 10px; }
.blue .info-table .left {
  float: left;
  width: 300px;
}
.blue .info-table .right {
  margin-left: 350px;
}


.page {
  width: 70%;
  margin: 40px auto;
  padding: 35px;
}
.page h1 { padding: 0px; }
.page p {
  line-height: 150%;
  padding: 10px;
}
.page pre {
  margin: 20px;
  padding: 20px 40px;
}
