body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
  font-weight: 400;
}

div.header {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
  padding-top: 25px;
  text-align: left;
}

div.header-left {
  float: left;
  padding-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #3d8bd2;
  font-size: 18px;
}

div.header-right {
  color: #3d8bd2;
  float: right;
}

div.header ul {
  list-style: none;
  padding: 0;
}

div.header li a {
  text-decoration: none;
  font-style: none;
  color: #3d8bd2;
}

div.header li {
  font-size: 14px;
  display: inline;
  padding-left: 15px;
}

div.backdrop {
  margin: 0;
  padding: 0;

  background: rgba(25,31,36,1);
  background: -moz-linear-gradient(top, rgba(25,31,36,1) 0%, rgba(43,53,61,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(25,31,36,1)), color-stop(100%, rgba(43,53,61,1)));
  background: -webkit-linear-gradient(top, rgba(25,31,36,1) 0%, rgba(43,53,61,1) 100%);
  background: -o-linear-gradient(top, rgba(25,31,36,1) 0%, rgba(43,53,61,1) 100%);
  background: -ms-linear-gradient(top, rgba(25,31,36,1) 0%, rgba(43,53,61,1) 100%);
  background: linear-gradient(to bottom, rgba(25,31,36,1) 0%, rgba(43,53,61,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191f24', endColorstr='#2b353d', GradientType=0 );
}

div.logo {
  margin: 0 auto;
  border-radius: 8px;
  border: 4px solid #3d8bd2;
  padding: 10px 12px;
  width: 56px;
  color: #3d8bd2;
  font-size: 48px;
  font-weight: 700;
}

h1 {
  font-weight: 600;
  color: #fff;
  font-size: 36px;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  color: #b6c2cf;
}

h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 0;
}

div.centergroup p {
  margin: 8px 0 0 0;
}

div.centergroup p, div.centergroup ul {
  font-size: 18px;
  line-height: 24px;
  color: #b6c2cf;
}

div.centergroup ul {
  padding-left: 0;
}

div.centergroup ul li {
  padding-bottom: 18px;
  list-style: none;
  font-style: italic;
}

div.centergroup {
  margin: 100px auto;
  width: 1000px;
}

div.centercontent {
  margin: 0 auto;
  width: 530px;
  padding-bottom: 100px;
  text-align: left;
}

div.screenshot {
  width: 590px;
  height: 360px;
  background-color: #b6c2cf;
  border-radius: 8px;
  display: inline-block;
}

div.padding-right-75 {
  padding-right: 75px;
}

div.padding-left-75 {
  padding-left: 75px;
}

div.label {
  display: inline-block;
  text-align: left;
  position: relative;
  top: -130px;
  width: 275px;
}

div.buttongroup {
  margin: 0 auto;
  width: 100%;
}

div.button {
  display: inline-block;
  margin: 0 7px;
  font-size: 18px;
  width: 160px;
  height: 32px;
  padding-top: 12px;
  vertical-align: center;
  text-align: center;
  border-radius: 6px;
  background-color: #3d8bd2;
  color: #fff;
}

a > div.button {
  text-decoration: none;
}

a:hover > div.button {
  background-color: #2f6ba3;
}

div.footer {
  width: 1000px;
  margin: 0 auto;
  color: #8f99a4;
  text-align: left;
  padding: 0;
  padding-bottom: 60px;
  font-weight: 300;
  position: relative;
  top: -40px;
}

div.footer p {
  font-size: 14px;
  line-height: 18px;
}

h4 {
  letter-spacing: 1px;
  font-size: 14px;
}

div.footer-left {
  display: inline-block;
  width: 260px;
  padding-left: 60px;
}

div.footer-center {
  display: inline-block;
  width: 260px;
  padding-left: 60px;
}

div.footer-right {
  display: inline-block;
  width: 260px;
  padding-left: 80px;
  position: relative;
  top: 17px;
}

div.footer a {
  text-decoration: none;
  color: #3d8bd2;
  font-size: 14px;
  font-style: normal;
}

div.footer-right ul {
  padding-left: 0;
  padding-bottom: 18px;
  list-style: none;
  line-height: 22px;
  font-style: italic;
}

