%head
  %title
    Syberia
  %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css"}
  %link{:type => "text/css", :rel => "stylesheet", :href => "css/bootstrap.min.css"}
  %link{:type => "text/css", :rel => "stylesheet", :href => "css/google-code-prettify/prettify.css"}

  %script{:src => "js/jquery-1.11.2.min.js"}
  %script{:src => "css/google-code-prettify/run_prettify.js"}

%body
  .logo-tagline
    .logo
      [LOGO]

{{ content }}
