%head
  %title
    Syberia
  %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css"}
  %link{:type => "text/css", :rel => "stylesheet", :href => "css/bootstrap.min.css"}
  %script{:src => "js/jquery-1.11.2.min.js"}
%body
  .logo-tagline
    .logo
      Syberia
    .tagline
      Build predictive models faster than ever before.

  {{ content }}
