%head
  %title
    Syberia
  %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css"}
  %link{:type => "text/css", :rel => "stylesheet", :href => "css/bootstrap.min.css"}
  %link{:type => "text/css", :rel => "stylesheet", :href => "css/google-code-prettify/prettify.css"}

  %script{:src => "js/jquery-1.11.2.min.js"}
  %script{:src => "css/google-code-prettify/run_prettify.js"}

%body
  .nav
    .logo
      <a href="index.html">[LOGO]</a>
    .links
      <a href="getting-started.html">Get Started</a>
      <a href="about.html">About</a>
      <a href="docs.html">Docs</a>
      <a href="support.html">Support</a>
      <a href="community.html">Community</a>
      <a href="contribute.html">Contribute</a>

{{ content }}
