%head
  %title
    Syberia
  %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css"}
  %link{:type => "text/css", :rel => "stylesheet", :href => "css/bootstrap.min.css"}
  %link{:type => "text/css", :rel => "stylesheet", :href => "css/google-code-prettify/prettify.css"}

  %script{:src => "js/jquery-1.11.2.min.js"}
  %script{:src => "css/google-code-prettify/run_prettify.js"}

%body
  .nav
    .logo
      <a href="http://www.syberia.io">[LOGO]</a>
    .links
      <a href="getting-started">Get Started</a>
      <a href="about">About</a>
      <a href="docs">Docs</a>
      <a href="support">Support</a>
      <a href="community">Community</a>
      <a href="contribute">Contribute</a>

{{ content }}
